.cards {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  grid-template-columns: minmax(auto, 375px) auto;
}

@media screen and (max-width: 881px) {
  .cards {
    padding: 20px;
  }
}
@media screen and (max-width: 619px) {
  .cards {
    padding: 15px 19px 48px;
  }
}
