header {
  border-bottom: 1px solid #545454;
  margin-top: 32px;
}
.header__logo {
  margin: 45px auto 41px 0px;
}

@media screen and (max-width: 659px) {
  .header {
    display: flex;
    justify-content: center;
    margin-top: 84px;
    max-width: unset;
  }
  .header__logo {
    height: 24px;
    width: 126px;
    margin: 28px auto 32px 27px;
    position: relative;
  }

  .page__section {
    margin: 0;
  }
}
