.header__logo {
  margin: 45px auto 41px 0;
}

.header__line {
  background: transparent url(../images/Line.svg) center no-repeat;
  height: 2px;
}

@media screen and (max-width: 619px) {
  .header__logo {
    height: 24px;
    width: 126px;
    margin: 28px auto 0 27px;
  }

  .header__line {
    margin-top: 32px;
  }
}
